{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

	<div id="interface">
		<div id="movingDiv">
		</div>
	</div>
	
	<img src="static/img/loading.gif" id="loading-timeline" style="display:none" />
	
	<div id="after-search">
			<div class="row">
			
				<h3 id="results_for">Results for "<span id="headline-searchword"></span>"</h3>
		
				<div class="alert alert-block" id="tech-trends-error"></div>
				
	        	<div class="span8">
	          		<ul class="nav nav-tabs">
	            		<li class="active"><a href="#timeline" data-toggle="tab" id="timeline_link" title="View the trend over the time!">Timeline</a></li>
	            		<li><a href="#clusters" data-toggle="tab" id="clusters_link" title="Find similar articles to all results!">Articles</a></li>
	            		<li><a href="#comments" data-toggle="tab" id="comments_link" title="View all results relative to their votes and comments on Reddit and HackerNews!">Popularity</a></li>
	          		</ul>
			
		    	    <div class="tab-content"> 
		    	    
		            	<div class="tab-pane timeline-class active" id="timeline">
		            	
			            	<div class="alert alert-info tab-info">
								This tab shows you <b>when the articles we found for your search have been published</b>.
								You can see the <b>date on the x-axis</b> and the <b>mount of articles (their popularity) on 
								the y-axis</b>. The small graph lets you <b>zoom in</b>. You can <b>click on the graph</b> to see 
								the links.
							</div>
		            	
		            		<div id="trend-image-div">
								<div class='timeline-date-text'></div>
							</div>
		            	
		            	</div>
		            	
		            	<div class="tab-pane clusters-class" id="clusters">
		            	
			            	<div class="alert alert-info tab-info">
								This tab shows you <b>all articles we found</b> for your search. You can <b>open a link
								by clicking on "open"</b> at the left end of each bar. You can search for more articles by 
								<b>a click on the bar</b>. If the bar doesn't expand, there are no more articles then you are 
								seeing in the moment.
							</div>
		            	
		            	</div>
		            	
		            	<div class="tab-pane comments-class" id="comments">
		            	
		            	<div class="alert alert-info tab-info">
							This tab shows you all articles we found for your search <b>according to their popularity</b>. 
							The big slices show you <b>very popular articles</b> whereas the small slices represent very
							<b>unpopular articles</b>. You can <b>click on a slice</b> to see the link.
						</div>
						
		            	</div>
		            	
		     		</div>
	        	</div>
	        
	        <div class="span4">
	        
	          	<div class="row">
		          	<form class="form-search" id="form-search">
						<div class="span">
			            	<div class="input-append" id="search-input">
					          	<input type="text" placeholder="Java" id="search-text" class="input-large search-query" title="Type a search-word!" autofocus>
					           	<button type="button" id="submit-button" class="btn" title="Click to search for trends and topics!">Search!</button>
							</div>
						</div>
						<div class="accordion" id="more">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" id="more-less" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">More...</a>
								</div>
								<div id="collapseOne" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="date-title"><b>- From -</b></div>
										<div class="">
											<div class="input-append date" id="date-from-container-after" data-date-format="yyyy-mm-dd">
												<input size="13" id="date-from" type="text" class="date-input"><span id="date-from-icon" class="add-on"><i class="icon-th"></i></span>
											</div>
										</div>
										<div class="date-title"><b>- To -</b></div>
										<div class="">
											<div class="input-append date" id="date-to-container-after" data-date-format="yyyy-mm-dd">
												<input size="13" id="date-to" type="text" class="date-input"><span id="date-to-icon" class="add-on"><i class="icon-th"></i></span>
											</div>
										</div>
										<div class="similarity-title"><b>- Similarity -</b></div>
										<div class="slider-container">
											<input type="range" class="similarity-rang" id="similarity" min="0" max="100" value="50">
										</div>
										<div class="btn-group search-toggle-button-group" data-toggle="buttons-radio">
										  <button type="button" id="toggle-topic-button-after" class="btn btn-primary search-toggle-button" data-value="_topic" value="_topic">Query</button>
										  <button type="button" id="toggle-id-button-after" class="btn btn-primary search-toggle-button" data-value="_id" value="_id">ID</button>
										  <button type="button" id="toggle-link-button-after" class="btn btn-primary search-toggle-button" data-value="_link" value="_id">Link</button>
										</div>
									</div>	
								</div>	
							</div>
						</div>
		            </form>
	          	</div>
	   
	   			<div class="row">
	            	<div class="well">
	              		<h4 class="text-center">Results</h4>  
	              		<div id="result-info" ></div>
	            	</div>
	          	</div>
	   
				<div class="row">
	            	<div id="trending-topics" class="well text-center">
	              		<h4 class="text-center">Popular Topics</h4>
	              		
	              		{% for word in main %}
	              			
	              			<span class="label label-info topic-label" style="cursor:pointer; height:{{ word["size"] }}px; line-height:{{ word["size"] }}px ; font-size:{{ word["size"] }}px">{{ word["word"] }}</span>
	              		
	              		{% endfor %}
	              		
	            	</div>
	          	</div>
	        </div>
	      </div>
	</div>
	
	<div id="before-search" >
	
		<div class="span12">
  
			<div class="jumbotron">
        		<h1>Because trends matter.</h1>
        		
        		<p class="lead" style="text-align: center;">
					Search for topics and trends in the field of computer science. 
					Based on Hackernews and Reddit, TechTrends offers an intelligent 
					search to find what really matters to you. Just type in a key word
					to find stuff you love!
				</p>

				<br>
				<br>
		
				<form class="form-search" id="welcome-form-search">
					<div class="span4" id="welcome-box">
		            	<div class="input-append" id="search-input-before">
				          	<input type="text" placeholder="Java" id="search-text-before" class="input-large search-query" title="Type a search-word!" autofocus>
				           	<button type="button" id="submit-button-before" class="btn" title="Click to search for trends and topics!">Search!</button>
						</div>
					</div>
	
					<div class="accordion" id="more-before">
						<div class="accordion-group" id="welcome-search-accordion">
							<div class="accordion-heading">
								<a class="accordion-toggle" id="more-less-before" data-toggle="collapse" data-parent="#accordion2" href="#collapseOneBefore">More...</a>
							</div>
							<div id="collapseOneBefore" class="accordion-body collapse">
								<div class="accordion-inner">
									<div class="date-title"><b>- From -</b></div>
									<div class="">
										<div class="input-append date" id="date-from-container-before" data-date-format="yyyy-mm-dd">
											<input size="13" id="date-from-before" type="text" class="date-input"><span id="date-from-icon" class="add-on"><i class="icon-th"></i></span>
										</div>
									</div>
								
									<div class="date-title"><b>- To -</b></div>
									<div class="">
										<div class="input-append date" id="date-to-container-before" data-date-format="yyyy-mm-dd">
											<input size="13" id="date-to-before" type="text" class="date-input"><span id="date-to-icon" class="add-on"><i class="icon-th"></i></span>
										</div>
									</div>
								
									<div class="similarity-title"><b>- Similarity -</b></div>
									<div class="slider-container">
										<input type="range" class="similarity-rang" id="similarity-before" min="0" max="100" value="50">
									</div>
									<div class="btn-group search-toggle-button-group" data-toggle="buttons-radio">
									  <button type="button" id="toggle-topic-button-before" class="btn btn-primary search-toggle-button" data-value="_topic" value="_topic">Query</button>
									  <button type="button" id="toggle-id-button-before" class="btn btn-primary search-toggle-button" data-value="_id" value="_id">ID</button>
									  <button type="button" id="toggle-link-button-before" class="btn btn-primary search-toggle-button" data-value="_link" value="_id">Link</button>
									</div>
								</div>	
							</div>	
						</div>
					</div>
	            </form>
			</div>

      		<hr>

			<div class="row-fluid marketing">
        		<div class="span6">
		
		   			<h4>Topics & Trends</h4>
          			<p>
						TechTrends let you search for topics and trends in the 
						field of computer science. We provide an intelligent search for hundreds of blogs, 
						articles and posts. Have a look at our <a href="/about">about page</a> 
						to find out more about what we are doing.
		  			</p>
		
					<h4>Media University Stuttgart</h4>
					<p>
						TechTrends is a student project of the Media University Stuttgart.
						Have a look at our <a href="/contact">contacts page</a> to get in 
						touch with us.
						<center><a href="http://mi.hdm-stuttgart.de"><img src="static/img/logos/mi.jpg" width="16%"></a></center>
		  			</p>
        	</div>

        	<div class="span6">
		
          		<h4>Powered by Gensim</h4>
          		<p>
					TechTrends provides a semantic search based on Radim Řehůřek's 
					<a href="http://radimrehurek.com/gensim/">Gensim</a>. Handcrafted 
					crawling combined with data mining techniques such as LSI let you 
					find what you are looking for.
					<center><a href="http://radimrehurek.com/gensim/"><img src="static/img/logos/gensim.png" width="20%"></a></center>
		  		</p>

          		<h4>Reddit & Hackernews</h4>
          		<p>
          			We collect the latest news from <a href="http://www.reddit.com/r/programming/">Reddit</a> 
		  			and <a href="https://news.ycombinator.com/">Hackernews</a>. Both are excellent indicators for upcoming
		  			trends and well known for their high quality of their posts.
		  			<center>
						<a href="http://www.reddit.com/r/programming/"><img src="static/img/logos/reddit.png" width="20%"></a>
						<a href="https://news.ycombinator.com/"><img src="static/img/logos/hn.gif" width="20%"></a>
		  			</center>
				</p>
			</div>
      	</div>
		
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "9fe74501-d102-45f8-adb1-4537e8279b35", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
		
		<hr>
		
	  	<center>
			<span class='st_googleplus_large' displayText='Google +'></span>
			<span class='st_reddit_large' displayText='Reddit'></span>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_email_large' displayText='Email'></span>
		</center>
	  
	</div>
	
    </div> <!-- /container -->
	
{% endblock %}

{% block scripts %}

{% endblock %}
