/* 
	*****************************************************
    *****************************************************
	General
    *****************************************************
    *****************************************************
*/
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#timeline {
	overflow-y: hidden;
}

#interface {
	position: absolute;
}

#moving-div {
	overflow-y: hidden;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

p {
	text-align: justify;
}

h1 {
	margin-bottom: 50px;
	margin-top: 40px;
}

h2 {
	margin-bottom: 20px;
	margin-top: 30px;
}

#results_for {
	margin-bottom: 40px;
	margin-top: 30px;
}

.table td {
	text-align: justify;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* 
	*****************************************************
    *****************************************************
	Popover
    *****************************************************
    *****************************************************
*/
.popover {
	font-size: 11px;
	line-height: 12px;

	overflow: auto;
    resize: both;
    width: 160px;
    height: 120px;
    
    min-width: 220px;
    min-height: 200px;
    
    max-width: 800px;
    max-height: 800px;
}

.arrow {
	visibility: hidden;
}

.popover hr {
	margin: 5px;
}

/* 
	*****************************************************
    *****************************************************
	SVG
    *****************************************************
    *****************************************************
*/
svg {
	font: 10px sans-serif;
}

path {
	fill: steelblue;
}

#myPath:active {
    fill: #FFA526 !important;
	fill-opacity: 0.6 !important;
}

#myPath {
	fill-opacity: 1;
}

#myPath2 {
    fill: #FFA526;
    stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-opacity: 0.5;
}

#myPath2:active {
    fill: light-red;
}

#pathWithoutZeros {
	fill-opacity: 0.2 !important;
}

.cluster-bar:hover {
	fill: #FFA526 !important;
}

.cluster-bar-link {
	fill: #FFFFFF !important;
	fill-opacity: 0 !important;
}

.cluster-bar-link:hover {
	fill: steelblue !important;
	fill-opacity: 0.2 !important;
	stroke: #3182bd;
	stroke-width: 1px;
}

.arc :hover {
	fill: #FFA526 !important;
	fill-opacity: 1;
}

.node circle {
	cursor: pointer;
	stroke: #3182bd;
	stroke-width: 1.5px;
}

.node text {
	font: 10px sans-serif;
	pointer-events: none;
}

line.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 1.5px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font: 10px sans-serif;
}

.arc :hover {
	fill: #FFA526 !important;
	fill-opacity: 1;
}

.arc {
	stroke: black;
	stroke-opacity: 0.5;
	stroke-dasharray: 5, 5;
	stroke-width: 1;
	stroke-linecap: round;
	fill-opacity: 0.8;
}

#hover-cursor {
	stroke: black;
	stroke-opacity: 0.5;
	stroke-dasharray: 5, 5;
	stroke-width: 0;
	stroke-linecap: round;
	fill-opacity: 0.6;
}

/* 
	*****************************************************
    *****************************************************
	Welcome-Page
    *****************************************************
    *****************************************************
*/

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

#before-search #welcome-box {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.similarity-title {
	margin-top: 10px;
}

.slider-container {
	margin-left: 10px;
	margin-right: 10px;
}

.form-search {
	text-align: center;
}

#techtrends_slogan {
	padding-top: 100px;
}

.hero-unit {
	border: 0px;
	background-color: #FFFFFF;
	padding: 0px;
}

#after-search {
	display: none;
}

#slogan {
	position: absolute;
	top: -38%;
	margin-left: 270px;
}

#welcome-form-search {
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}

#welcome-search-accordion {
	
	border: 0px;
}

/* 
	*****************************************************
    *****************************************************
	Search-Box
    *****************************************************
    *****************************************************
*/

/*
The main search-field should be very present, so
we put a little space around it.
*/
#search-input,#search-input-before {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

#search-input {
	margin-left: 13px;
}

.date {
	width: 100%;
	margin-top: 10px;
}

.date-input {
	width: 84%;
}

.date-title {
	font-size: 10;
	margin-top: 10px;
}

.similarity-rang {
	width: 86%;
	margin-top: 10px;
}

.search-toggle-button-group {
	margin-top: 10px;
	padding-top: 4px;
	width: 100%;
}

.search-toggle-button {
	padding-top: 4px;
	width: 33%;
}

/* 
	*****************************************************
    *****************************************************
	Tag cloud
    *****************************************************
    *****************************************************
*/
.topic-label {
	margin: 5px;
}

.class-center {
	text-align: center;
}

/* 
	*****************************************************
    *****************************************************
	Loading animation
    *****************************************************
    *****************************************************
*/
#loading-timeline {
	position: absolute;
	margin-left: 350px;
	margin-top: 290px;
}

.timeline-trend-graphic {
	position: absolute;
	border-spacing: 0px;
	margin-left: 650px;
	margin-top: 50;
}

.tab-info {
	margin-right: 10px;
	margin-left: 10px;
	border: 0px;
	background-color: #666;
	text-shadow: 0 0px 0;
	font-size: 13px;
}

.timeline-date-text {
	position: absolute;
	margin-left: 500px;
	margin-top: 50;
}

.rot-arrow {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
}
/* 
	*****************************************************
    *****************************************************
	Slider for similarity
    *****************************************************
    *****************************************************
*/
#similarity,#similarity-before {
	border: 0px;
}

/* slider root element */
.slider {
	background: #3C72E6;
	height: 3px;
	position: relative;
	cursor: pointer;
	border: 0px solid #333;
	width: 100%;
	float: left;
	clear: right;
	margin-top: 13px;
}

/* progress bar (enabled with progress: true) */
.progress {
	height: 9px;
	background-color: #C5FF00;
	display: none;
	opacity: 0.6;
}

/* drag handle */
.handle {
	background: #fff;
	height: 9px;
	width: 9px;
	top: -5px;
	position: absolute;
	display: block;
	margin-top: 1px;
	border: 1px solid #000;
	cursor: move;
}

/* the input field */
.range {
	border: 0px inset #ddd;
	float: right;
	font-size: 10px;
	margin: 0 0 0 0px;
	padding: 0px 0;
	text-align: center;
	width: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* 
	*****************************************************
    *****************************************************
	Error
    *****************************************************
    *****************************************************
*/
#tech-trends-error {
	display: none;
}

/* 
	*****************************************************
    *****************************************************
	Topic view
    *****************************************************
    *****************************************************
*/
.topic-value {
	display: block;
	height: 20px;
	opacity: 1;
	margin-bottom: 5px;
}

.topic-value .bar {
	color: rgb(43, 43, 43);
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
}

/* 
	*****************************************************
    *****************************************************
	Archive
    *****************************************************
    *****************************************************
*/
#archive-table {
	height: 700px;
}

#archive-column-id {
	
}

#archive-column-title {
	
}

#archive-column-link {
	
}
